.scrolled-down {
    transform: translateY(-100%); transition: all 0.3s ease-in-out;
}
.scrolled-up {
    transform: translateY(0); transition: all 0.3s ease-in-out;
}


.description {
    font-size: medium;
}

.content {
    width: 90%;
    margin: 0 0 0 3.5%;
}

